{# make quote pdf html #}
{% extends "empty.html.twig" %}
{% block content %}
<div class="page-container">
    <div id="loader-container" class="flex w-full h-full items-center justify-center">
        {{ include('components/loader/loader.html.twig',{
            size:'30px',
            weight:'4px'
        }) }}
    </div>

    <main id="page" class="hidden">
        <header>
            <h1>Invoice </h1>
            <small>{{ invoice.invoiceNumber }}</small>
            <h2 >{{ company.name }}</h2>
        </header>

        <div class="mb-5 flex justify-between">
            <div>
                <div>{{ company.address.addressLine1 }}</div>
                {% if company.address.addressLine2 is defined %}
                    <div>{{  company.address.addressLine2 }}</div>
                {% endif %}
                <div>{{ company.address.zipCode }} {{  company.address.city }}</div>
                <div>Siret : {{ company.siret }}</div>
                <div>VAT number : {{ company.vatNumber }}</div>
            </div>
            <div>
                <table>
                    <tr>
                        <td class="bg-primary-300 p-2 font-semibold border border-primary-500 text-primary-700">Date</td>
                        <td class="p-2 border border-primary-500">{{ invoice.emittedAt | date("m/d/Y") }}</td>
                    </tr>
                    <tr>
                        <td class="bg-primary-300 p-2 font-semibold border border-primary-500 text-primary-700">Valid Until</td>
                        <td class="p-2 border border-primary-500">{{ invoice.expiredAt | date("m/d/Y") }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="customer">
            <h3 class="font-bold">Bill To:</h3>
            <div><b>Customer: </b>{{ quote.customer.identity }}</div>
            <div><b>Company:</b> {{ quote.customer.companyName }}</div>
            <div><b>Email:</b> {{ quote.customer.email }}</div>
            <div><b>Tel:</b> {{ quote.customer.tel }}</div>
            {% if quote.billingAddress is not null %}
                <div>{{ quote.billingAddress.addressLine1 }}</div>
                {% if quote.billingAddress.addressLine2 is defined %}
                    <div>{{ quote.billingAddress.addressLine2 }}</div>
                {% endif %}
                <div>{{ quote.billingAddress.zipCode }} {{ quote.billingAddress.city }}</div>
            {% endif %}
        </div>


        {# billings rows #}

        <table class="w-full my-4">
            <thead>
                <tr class="text-primary-700">
                    <th class="bg-primary-300 p-2 font-semibold border border-primary-500">
                        Product
                    </th>
                    <th class="bg-primary-300 p-2 font-semibold border border-primary-500">
                        Qt
                    </th>
                    <th class="bg-primary-300 p-2 font-semibold border border-primary-500">
                        Unit Price
                    </th>
                    <th class="bg-primary-300 p-2 font-semibold border border-primary-500">
                        Amount
                    </th>
                    <th class="bg-primary-300 p-2 font-semibold border border-primary-500">
                        VAT
                    </th>
                    <th class="bg-primary-300 p-2 font-semibold border border-primary-500">
                        Total
                    </th>

                </tr>
            </thead>
            <tbody class="border border-primary-500">

                {% for billingRow in quote.billingRows %}
                    <tr class="align-top">
                        <td class="border-x border-primary-500 p-1">
                            {{ billingRow.product }}
                        </td>
                        <td class="border-x border-primary-500 p-1 text-center">
                            {{ billingRow.quantity }}
                        </td>
                        <td class="border-x border-primary-500 p-1 text-right">
                            {{ billingRow.unit | format_currency('EUR') }}
                        </td>
                        <td class="border-x border-primary-500 p-1 text-right">

                            {% if billingRow.hasDiscount %}
                                <div class="text-xs pt-2">{{ billingRow.total | format_currency('EUR') }}</div>
                                {% for discount in billingRow.allDiscounts %}
                                    <div class="text-xs text-red-500">-{{ discount.formated }}</div>
                                {% endfor %}
                            {% endif %}
                            {{ billingRow.totalWithDiscount | format_currency('EUR') }}
                        </td>
                        <td class="border-x border-primary-500 p-1 text-right">
                            {{ billingRow.vat }} %
                        </td>
                        <td class="border-x border-primary-500 p-1 text-right">
                            {{ billingRow.totalWithVAT | format_currency('EUR') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="border border-primary-500"></td>
                    <td class="border-l border-b p-2 border-primary-500" >
                        {% if quote.hasDiscounts %}
                            Subtotal before discounts
                            {% for discount in quote.discountsDetails %}
                                <div class="text-xs text-red-500"> Discount -{{ discount.label }}</div>
                            {% endfor %}
                        {% endif %}
                        Subtotal
                    </td>
                    <td class="border-r border-b p-2 border-primary-500 text-right">
                        {% if quote.hasDiscounts %}
                            {{ quote.totalRowScoped | format_currency('EUR') }}
                            {% for discount in quote.discountsDetails %}
                                <div class="text-xs text-red-500">  {{ discount.total | format_currency('EUR') }}</div>
                            {% endfor %}
                        {% endif %}
                        {{ quote.total | format_currency('EUR') }}
                    </td>
                </tr>
                <tr class="font-semibold">
                    <td colspan="4"></td>
                    <td  class="bg-primary-300 p-2 border-b border-l border-primary-500  text-primary-700">
                        Total TTC
                    </td>
                    <td class="border-r border-b border-primary-500 p-2 bg-primary-300 text-right">
                        {{ quote.totalWithVAT | format_currency('EUR') }}
                    </td>
                </tr>
            </tfoot>
        </table>
        {% if(invoice.status == 'paid') %}
            <div class="paidText">Paid</div>
        {% endif %}
    </main>
    {% include 'components/flashes/flash.html.twig' %}

<script>
    document.addEventListener('DOMContentLoaded',function(){
        document.getElementById('loader-container').classList.add('hidden')
        document.getElementById('page').classList.remove('hidden')
    })

    window.addEventListener('resize',sizePage)

    function sizePage(){
        if(window.innerWidth < 800){
            let coef= window.innerWidth / 850;
            document.getElementById('page').style.transform = 'scale('+coef+') translateX(25px)';
        }else{
            document.getElementById('page').style.transform = 'scale(1)';
        }
    }
    sizePage()
</script>
<style>
    .paidText{
        position: absolute;
        bottom: 5em;
        right: 2em;
        font-size: 3em;
        color: red;
        opacity: 0.5;
        border: 6px solid red;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1em;
        transform: rotate(-25deg);
        border-radius: 10px;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: #dbe2ea;

    }
    *{
        box-sizing: border-box;
    }
    .page-container{
        padding: 1em 0;
        min-height: 100vh;
    }
    #page{
        transform-origin: left top;
        background: white;
        width: 210mm;
        height: 297mm;
        margin: 0 auto;
        padding: 1em;
    }
    .line{
        display: flex;
        justify-content: space-between;
    }
</style>

    {% endblock %}
