<div data-grouped-actions-container class="hidden flex justify-end">
    <div class="flex gap-5 items-center">
        <div class="opacity-40">
            <span data-grouped-actions-count></span> selected
        </div>
        <div class="relative">
            {% include 'components/buttons/button.html.twig'  with {content:"Groupped Action", size:"sm",handle: tableId ~ 'ToogleGrouped()' } %}
            <div id="{{ tableId }}-grouped-action-container" class="hidden absolute left-0 right-0 bottom-0 mt-2 bg-[#FFFFFF]  border rounded shadow-md z-10" style="transform: translateY(105%)">
                {%  for action in groupedActions %}
                    <form action="{{ path(action.href.path, action.href.params) }}" method="get">
                        <input type="hidden" name="selected" data-grouped-action-input>
                        <input type="hidden" name="_token" value="{{ csrf_token('mass-action-token') }}">
                        <button type="submit" class="w-full flex gap-4 px-4 py-2 items-center hover:bg-white cursor-pointer">
                            {% if(action.icon is defined) %}
                                <ion-icon name="{{ action.icon }}" ></ion-icon>
                            {% endif %}
                            {{ action.content }}
                        </button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    let groupedActionContainer;

    function {{ tableId }}ToogleGrouped(){
        groupedActionContainer.classList.toggle("hidden");
    }

    document.addEventListener("DOMContentLoaded", function () {
        groupedActionContainer = document.getElementById("{{ tableId }}-grouped-action-container");
        document.addEventListener("click", function (event) {
            if (!event.target.matches("#{{ tableId }}-grouped-action-container") && !event.target.matches("[data-grouped-actions-container] button span")){
                groupedActionContainer.classList.add("hidden");
            }
        });
    });
</script>