
{% embed 'components/contextMenu/context-menu.html.twig' %}
    {% block activator %}
        <ion-icon name="ellipsis-vertical" class="text-secondary-500 cursor-pointer text-xl"></ion-icon>
    {% endblock %}
    {% block items  %}
          {% for action in actions %}
            <form action="{{ path(action.href.path, action.href.params) }}" method="{{ action.href.method|default('GET') }}">
                 {% if action.href.csrf|default(false) %}
                    <input type="hidden" name="_token" value="{{ csrf_token(action.href.csrf) }}">
                 {% endif %}
                <button type="submit" class="flex gap-4">
                    {% if(action.icon is defined) %}
                        <ion-icon name="{{ action.icon }}" ></ion-icon>
                    {% endif %}
                    {{ action.content }}
                </button>
            </form>
        {% endfor %}
    {% endblock %}
{% endembed %}