{#
HOW TO USE IT

{% include 'components/buttons/button_input.html.twig' with {
    'content': 'Sign in',
    'icon': 'mail',
    'size': 'sm' --OPT
} %}

/HOW TO USE IT
#}
<button type="{{ type | default('button') }}" onclick="{{ handle | default('') }}" class="text-white text-{{ size | default('xl') }} bg-{{ bg | default('primary')}}-500 rounded-full px-5 py-2 hover:bg-{{ bg | default('primary')}}-600 duration-100 inline-flex items-center justify-center space-x-2.5">
    <div class="inline-flex items-center gap-2">
        {% if(icon is defined) %}
            <ion-icon name="{{ icon }}"></ion-icon>
        {% endif %}
        <span>{{ content }}</span>
    </div>
</button>