{# HOW TO USE IT #}

{# 
{% include 'components/buttons/button_link.html.twig' with {
    content: 'CALLOUT', -- OPTIONAL
    link: '#', -- OPTIONAL
    icon_left: 'icon', -- OPTIONAL
    icon_right: 'icon', -- OPTIONAL
} %} 
#}

{# /HOW TO USE IT #}

{# WHAT DOES IT DO #}

{# 
    This component is a button with a link. 
    It can be used to create a redirect button.
#}

{# /WHAT DOES IT DO #}

{# PATH #}

{# 
    components/buttons/button_link.html.twig
#}

{# /PATH #}

{# MORE #}

{# The value of the icon has to be a string of the ion icon https://icon-sets.iconify.design/ion/ #}

{# /MORE #}

<a href="{{ link | default('#') }}">
    <div class="w-min text-white text-{{ size | default('xl') }} bg-[#49AB9A] rounded-full px-7 py-2 hover:bg-[#337D70] duration-100 flex items-center justify-center space-x-2.5">
   
        {% if icon_left is defined %}
            <ion-icon name="{{ icon_left }}" class="text-{{ size | default('xl') }}"></ion-icon>
        {% endif %}

        <span class="whitespace-nowrap">{{ content | default('CALLOUT') }}</span>

        {% if icon_right is defined %}
            <ion-icon name="{{ icon_right }}" class="text-{{ size | default('xl') }}"></ion-icon>
        {% endif %}

    </div>
</a>