{# HOW TO USE IT #}

{# 
{% include 'components/chips-pills/pill.html.twig' with {
        'label': 'Chip 1', -- OPTIONAL
        'close_icon': true, 
        'bg_color':'warning', -- OPTIONAL
        'svg_fillColor': 'white', -- OPTIONAL
        'text_color': 'white', -- OPTIONAL
        'border_color': 'warning' -- OPTIONAL
        } 
    %}

    All the parameters are optional, if you don't pass them, the default value will be used.
#}

{# /HOW TO USE IT #}

{# WHAT DOES IT DO #}

{# 
    This component is a pill with a label. 
    It can be used to display a tag or a category.
#}

{# /WHAT DOES IT DO #}

{# PATH #}

{# 
    components/chips-pills/pill.html.twig
#}

{# /PATH #}
<div class="bg-{{ bg_color | default('primary') }} inline-flex items-center gap-2.5 px-4 py-1.5 rounded-full text-{{ text_color | default('white') }} border-2 border-{{ border_color | default('primary') }} hover:bg-{{ text_color | default('white') }} hover:text-{{ bg_color | default('primary') }} duration-100 ease-in-out"> 
    {% if close_icon %}
        {% include 'svg/chips-pills/close.svg.twig' with {'svg_fillColor': svg_fillColor}%}
    {% endif %}
    <p>
        {{ label }}
    </p>
</div>
