{# HOW TO USE IT

{% include 'components/inputs/checkbox.html.twig' with {
            'label': 'Email' OPT,
            'name': 'email' OPT,
            'placeholder': 'Email' OPT,
            'value': last_username OPT,
            'required': true OPT,
            'autofocus': true OPT,
            'icon':'mail' OPT
} %}

/HOW TO USE IT #}

<div class="inline-flex flex-col {{ class|default('') }}">
    {% if label is defined %}
        {% include 'components/inputs/formLabel.html.twig' with {
            label: label ?? null,
            id: id ?? null,
            icon: icon ?? null
        }%}
    {% endif %}
    <input
        autocomplete="off"
        type="checkbox"
        name="{{ (name ?? label ?? '') |default('') }}"
        id="{{ id|default('') }}"
        required="{{ required|default('') }}"
        placeholder="{{ placeholder|default('') }}"
        value="{{ value|default('') }}"
        onchange="{{ onChange|default('') }}"
    >
</div>
