<div class="inline-flex flex-col {{ class|default('') }}">
    {% if label is defined %}
        {% include 'components/inputs/formLabel.html.twig' with {
            label: label ?? null,
            id: id ?? null,
            icon: icon ?? null
        }%}
    {% endif %}
    <input
            autocomplete="off"
            type="{{ type|default('text') }}"
            name="{{ name|default('') }}"
            class="w-full px-0 py-2.5 border-0 border-b-2 border-secondary focus:border-primary-500 text-primary-500 focus:ring-0"
            id="{{ id|default('') }}"
            required="{{ required|default('') }}"
            placeholder="{{ placeholder|default('') }}"
            value="{{ value|default('') }}"
    >
</div>
