{%block form_row %}
    {% set inputClasses =  "w-full px-0 py-2.5 border-0 border-b-2 border-primary-100 focus:border-secondary text-primary-100 focus:text-primary-100 focus:ring-0 " %}
    {% set classes = attr.class is defined ?  attr.class : '' %}
    <div class="inline-block {{ classes }} ">
        {{ form_label(form) }}
        {{ form_widget(form,{
            'attr': {
                'class': inputClasses
            }
        }) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block checkbox_row %}
    {% set inputClasses =  "w-full px-0 py-2.5 border-0 border-b-2 border-primary-100 focus:border-secondary text-primary-100 focus:text-primary-100 focus:ring-0 " %}
    {% set classes = attr.class is defined ?  attr.class : '' %}
    <div class="inline-flex items-center gap-2 {{ classes }} ">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>

{% endblock %}


{%- block form_label -%}
    {% set icon = form.vars.attr.icon is defined ? form.vars.attr.icon : '' %}

    {# Create tailwind flex container #}
    <div class="inline-flex items-center gap-2">
        {% if(icon) %}
            <ion-icon name="{{ icon }}" class="text-2xl"></ion-icon>
        {% endif %}
        <label for="">{{ (name ?? title) | capitalize }}</label>
    </div>
{%- endblock form_label -%}