{%block form_row %}
    {% set inputClasses =  "w-full px-0 py-2.5 border-0 border-b-2 border-primary-500 text-primary-500 focus:border-secondary-500  disabled:text-disabled focus:text-secondary-500 focus:ring-0 " %}
    {% set classes = attr.class is defined ?  attr.class : '' %}
    <div class="inline-block {{ classes }} ">
        {{ form_label(form) }}
        {% if 'choice' in form.vars.block_prefixes %}
            {{ include('components/inputs/select.html.twig') }}
        {% else %}
            {{ form_widget(form,{
                'attr': {
                    'class': inputClasses
                }
            }) }}
        {% endif %}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_errors %}
{%- if errors|length > 0 -%}
    <ul>
        {%- for error in errors -%}
            <li><span class="text-danger-500 text-sm block pt-2">{{ error.message }}</span></li>
        {%- endfor -%}
    </ul>
    {%- endif -%}

{% endblock %}

{% block checkbox_row %}
    {% set inputClasses =  "w-full px-0 py-2.5 border-0 border-b-2 border-primary-500 text-primary-500 focus:border-secondary-500 focus:text-secondary-500  focus:ring-0 " %}
    {% set classes = attr.class is defined ?  attr.class : '' %}
    <div class="inline-flex items-center gap-2  {{ classes }} ">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>

{% endblock %}


{%- block form_label -%}
    {% set icon = form.vars.attr.icon is defined ? form.vars.attr.icon : '' %}
    {# Create tailwind flex container #}
    <div class="inline-flex items-center gap-2">
        {% if(icon) %}
            <ion-icon name="{{ icon }}" class="text-2xl"></ion-icon>
        {% endif %}
        <label for="">{{ (form.vars.label ?? name ?? title) | capitalize }}</label>
    </div>
{%- endblock form_label -%}
